<ng-container>
<h1 class="page-header">Tags</h1>
<div class="text-right">
  <button mat-raised-button color="primary" (click)="addTag()">Tag hinzufügen</button>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="bg-primary">
    <tr>
      <th *ngFor="let entry of tableHeaders">{{entry}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of tags" id="tableRow">
      <td>{{entry.tagID}}</td>
      <td>{{entry.alias}}</td>
      <td>{{entry.location}}</td>
      <td>url/tag/#/{{entry.tagID}}</td>
      <td class="text-right">
        <div class="btn-group" role="group">
          <button mat-raised-button color="primary" (click)="editTag(entry)">editieren</button>
          <button mat-raised-button color="warn" (click)="deleteTag(entry)">entfernen</button>
        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</ng-container>
