<div class="container">
  <form class="form-signin" (submit)="submitLogin(name.value,password.value)">
    <h3 class="form-signin-heading" align="center">Bitte melden Sie sich an</h3>
    <label for="inputEmail" class="sr-only">Benutzername</label>
    <input type="text" #name id="inputEmail" class="form-control" ng-model="username" placeholder="Benutzername" required autofocus>
    <label for="inputPassword" class="sr-only">Passwort</label>
    <input type="password" #password id="inputPassword" class="form-control" ng-model="password" placeholder="Passwort" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Angemeldet bleiben
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
    <button type="button" (click)="submitLogin(name.value,password.value)">TEST</button>
  </form>

</div>
