<ng-container>
  <h1 class="mat-display-2">Rätsel</h1>

  <div class="container">
  <button mat-raised-button color="primary" (click)="addQuiz()">Rätsel hinzufügen</button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="table-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{getType(element)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <mat-header-cell *matHeaderCellDef> isActive</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isActive}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element._id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> edit</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="btn-group" role="group">
            <button mat-raised-button color="primary" (click)="editQuiz(element)">editieren</button>
            <button mat-raised-button color="warn" (click)="deleteQuiz(element)">entfernen</button>
          </div>
        </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20, 50]">
    </mat-paginator>
  </div>


</ng-container>
