<ng-container>
<h1 class="page-header">Quizzes</h1>
<div class="text-right">
  <button mat-raised-button color="primary" (click)="addQuiz()">Rätsel hinzufügen</button>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="bg-primary">
    <tr>
      <th *ngFor="let entry of tableHeaders">{{entry}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of quizzes" id="tableRow">
      <td>{{entry.isActive}}</td>
      <td>{{entry.name}}</td>
      <td>{{entry.description}}</td>
      <td>{{entry._id}}</td>
      <td class="text-right">
        <div class="btn-group" role="group">
          <button mat-raised-button color="primary" (click)="editQuiz(entry)">editieren</button>
          <button mat-raised-button color="warn" (click)="deleteQuiz(entry)">entfernen</button>
        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</ng-container>
