<h1 class="page-header">{{heading}}</h1>
<div class="panel panel-default">
    <div class="panel-heading">Gewonnen Info</div>
    <div class="panel-body">
        <form role="form" ng-submit="saveEndText()">

            <div class="form-group">
                <label class="control-label">Info Text, der am Ende der Schnitzeljagd angezeigt wird:</label>
                <textarea class="form-control" rows="5" ng-model="config.endText" required autofocus></textarea>
            </div>

            <div class="text-right">
                <input class="btn btn-success" type="submit" value="Speichern">
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Benutzer ändern</div>
    <div class="panel-body">
        <form role="form" ng-submit="saveUserConfig()">
            <div class="form-group">
                <label class="sr-only">Benutzername</label>
                <input type="text" id="inputEmail" class="form-control" ng-model="user.username" placeholder="Benutzername" required autofocus>
            </div>
            <div class="form-group">
                <label class="sr-only">Altes Passwort</label>
                <input type="password" class="form-control" ng-model="user.oldPassword" placeholder="Altes Passwort" required>
            </div>
            <div class="form-group">
                <label class="sr-only">Neues Passwort</label>
                <input type="password" class="form-control" ng-model="user.newPassword" placeholder="Neues Passwort" required>
            </div>
            <div class="form-group">
                <label class="sr-only">Neues Passwort wiederholen</label>
                <input type="password" class="form-control" ng-model="user.newPasswordRepeat" placeholder="Neues Passwort wiederholen" required>
            </div>
            <div class="text-right">
                <input class="btn btn-success" type="submit" value="Speichern">
            </div>
        </form>
    </div>
</div>