<h1 class="page-header">{{heading}}</h1>
<form role="form" ng-submit="save()">

    <div class="form-group">
        <label class="control-label">Raumname</label>
        <input type="text" class="form-control" ng-model="data.name" required autofocus>
    </div>
    <div class="form-group">
        <label class="control-label">Beschreibung</label>
        <textarea class="form-control" rows="5" ng-model="data.description"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label">Schnitzeljagd?</label>
        <div>
            <input type="checkbox" ng-model="data.isActive" ng-checked="data.isActive">
            <smal>Hier auswählen, das der Ort mit in die Schnitzeljagd aufgenommen wird.</smal>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Bild auswählen</label>
        <input class="form-control" type="file" file-model="myFile">
    </div>

    <div class="text-right">
        <input id="Submit" class="btn btn-success" type="submit" value="Speichern">
        <a class="btn btn-default" href="#/listlocations" >Abbrechen</a>
    </div>
</form>