<h1 class="page-header">{{heading}}</h1>
<div class="table-responsive">
    <div class="text-right">
        <p><a class="btn btn-danger" ng-click="deleteAllSessions()" ><span class="glyphicon glyphicon-exclamation-sign"></span>&nbspAlle Aktiven Schnitzeljagd-Sessions Löschen</a></p>
    </div>
    <table class="table table-striped">
        <thead class="bg-primary">
        <tr>
            <th>Gruppenname</th>
            <th>Ort</th>
            <th>Fortschritt</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in sessions" ng-if="sessions">
            <td>{{entry.groupName}}</td>
            <td>{{locations[entry.locationID]}}</td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                         style="width: {{(entry.progress.done / entry.progress.count) * 100}}%"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>