<h1 class="page-header">{{heading}}</h1>
<form role="form" ng-submit="save()">

    <div class="form-group">
        <label  class="control-label">
            TagID
        </label>
        <input ng-model="data.tagID" class="form-control" required>
    </div>

    <div class="form-group">
        <label class="control-label">
            Alias
        </label>
        <div>
            <smal>Anzeige name in der Tag-Liste zur bessere Übersicht</smal>
        </div>
        <input ng-model="data.alias" class="form-control" required>
    </div>
    <div class="form-group">
        <label class="control-label">Verknüpfter Ort</label>
        <div>
            <smal>Ort, der beim Einscannen dieses Tags aufgerufen wird</smal>
        </div>
        <select class="form-control" ng-model="data.location"
                ng-options="location._id as location.name for location in locations">
            <option ng-value="" value=""></option>
        </select>
    </div>
    <div class="text-right">
        <input type="submit" class="btn btn-success" value="Speichern">
        <a class="btn btn-default" href="#/listtags" >Abbrechen</a>
    </div>
</form>