<h1 class="page-header">{{tag.name}}</h1>
<form role="form">

    <div class="form-group">
        <label class="control-label">Tag auswählen</label>
        <select class="form-control" ng-model="">
            <option>Option</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">
            Tagname
        </label>
        <input class="form-control">
    </div>

    <div class="form-group">
        <label class="control-label">
            Beschreibung
        </label>
        <textarea class="form-control" rows="10"></textarea>
    </div>

    <input class="btn btn-success" type="submit" value="Submit">
    <!--<input class="btn btn-default" type="button" value="Vorschau">-->
    <input class="btn btn-default" type="button" value="Cancel">
</form>