<h1 class="page-header">{{heading}}</h1>
<form role="form">

    <div class="form-group">
        <label  class="control-label">
            Tagname
        </label>
        <input ng-model="data.alias" class="form-control">
    </div>

    <div class="form-group">
        <label class="control-label">
            Tag ID
        </label>
        <input ng-model="data._id" class="form-control">
    </div>
    <div class="text-right">
        <input class="btn btn-success" type="submit" value="Speichern">
        <a class="btn btn-default" href="#/listtags" >Abbrechen</a>
    </div>
</form>