<div class="card">
  <div>
    <mat-card>
      <div class="question-center">
        <h4 class="mat-h4">{{question.getName()}}</h4>
      </div>
      <div class="question">{{question.getQuestion()}}</div>


      <br>


      <ng-container *ngIf="imageAvailable() == true">
        <img class="img-responsive center-block"
             src="data:{{question.getImage().filetype}};base64,{{question.getImage().base64}}">
        <br>
      </ng-container>

      <div class="form-group" *ngFor="let entry of question.choices">
        <!--
        <mat-form-field>
          <input matInput placeholder="Antwort" type="text" #answer ng-model="riddle.answer">
        </mat-form-field>
        -->
        <button mat-raised-button color="primary" (click)="solveQuestion(entry)">{{entry}}</button>
      </div>
    </mat-card>
  </div>
</div>


<div id="bottom">
  <mat-toolbar>
    <i class="material-icons" (click)="abbrechen()">exit_to_app</i>
    <span class="spacer"></span>
    <i class="material-icons" (click)="openMap()">location_on</i>
    <span class="spacer"></span>
    <i class="material-icons" (click)="toggleHint()">info</i>
  </mat-toolbar>
</div>
