<div class="jumbotron">
  <div>
    <div class="question-center">
      <h4>{{question.getName()}}</h4>
    </div>
    <div class="question">{{question.getQuestion()}}</div>

    <br>
    <ng-container *ngIf="imageAvailable() == true">
      <img class="img-responsive center-block"
           src="data:{{question.getImage().filetype}};base64,{{question.getImage().base64}}">
      <br>
    </ng-container>

    <div class="form-group">
      <input type="text" #answer class="form-control" id="answer" placeholder="Antwort" ng-model="riddle.answer">
    </div>
  </div>
</div>

<div id="bottom">
  <mat-toolbar>
    <div class="container">
      <i class="material-icons" (click)="abbrechen()">exit_to_app</i>
      <i class="material-icons" (click)="openMap()">location_on</i>
      <i class="material-icons" (click)="toggleHint()">info</i>
      <i class="material-icons" (click)="solveQuestion(answer.value)">done</i>
    </div>
  </mat-toolbar>
</div>

