<h1 class="page-header">Konfiguration</h1>
<div class="panel panel-primary">
  <div class="panel-heading">Gewonnen Info</div>
  <div class="panel-body">
    <form role="form" (ngSubmit)="changeEndText(endtext.value)">
      <div class="form-group">
        <label class="control-label">Infotext, der am Ende der Schnitzeljagd angezeigt wird:</label>
        <input type="text" [(value)]="currentWinText" #endtext class="form-control" required autofocus>
      </div>
      <div class="text-right">
        <input class="btn btn-success" type="submit" value="Speichern">
      </div>
    </form>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Benutzername ändern</div>
  <div class="panel-body">
    <form role="form" (ngSubmit)="changeUserName(email.value)">
      <div class="form-group">
        <label class="sr-only">Benutzername</label>
        <input type="text" [(value)]="currentUserName" #email id="inputEmail" class="form-control" placeholder="Benutzername" required autofocus>
      </div>
      <div class="text-right">
        <input class="btn btn-success" type="submit" value="Speichern">
      </div>
    </form>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Password ändern</div>
  <div class="panel-body">
    <form role="form" (ngSubmit)="changePassword(newpassword.value,newpassword2.value)">
      <div class="form-group">
        <label class="sr-only">Neues Passwort</label>
        <input type="password" #newpassword class="form-control" placeholder="Neues Passwort" required>
      </div>
      <div class="form-group">
        <label class="sr-only">Neues Passwort wiederholen</label>
        <input type="password" #newpassword2 class="form-control"  placeholder="Neues Passwort wiederholen" required>
      </div>
      <div class="text-right">
        <input class="btn btn-success" type="submit" value="Speichern">
      </div>
    </form>
  </div>
</div>
