.icon{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
}

.icon.chair{
     background-image: url("../icon/chair.png");
}

.icon.chair.disabled{
    background-image: url("../icon/chair_disabled.png");
}

.icon.pc{
    background-image: url("../icon/pc.png");
}

.icon.pc.disabled{
    background-image: url("../icon/pc_disabled.png");
}

.icon.printer{
    background-image: url("../icon/printer.png");
}

.icon.printer.disabled{
    background-image: url("../icon/printer_disabled.png");
}

.icon.projector{
    background-image: url("../icon/projector.png");
}

.icon.projector.disabled{
    background-image: url("../icon/projector_disabled.png");
}