<h1 mat-dialog-title>{{pageHeader}}</h1>
<div mat-dialog-content>
  <div class="form-group">
    <label class="control-label">Raumname</label>
    <input type="text" class="form-control" name="roomname" [(ngModel)]="data.currentLocation.name" required autofocus>
  </div>
  <div class="form-group">
    <label class="control-label">Beschreibung</label>
    <textarea class="form-control" rows="5" name="description" [(ngModel)]="data.currentLocation.description"></textarea>
  </div>
  <div class="form-group">
    <div>
      <!--<input type="checkbox" name="includelocation" [(ngModel)]="data.currentLocation.isActive">-->
      <mat-checkbox [(ngModel)]="data.currentLocation.isActive">Aktiv?</mat-checkbox>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Bild auswählen</label>
    <input class="form-control" accept="image/*" type="file" (change)="handleFileSelect($event)">
    <br/>
    <img class="img-responsive center-block" src="data:{{data.currentLocation.image.filetype}};base64,{{data.currentLocation.image.base64}}">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" tabindex="2" (click)="submit()">Speichern</button>
  <button mat-raised-button tabindex="-1" (click)="cancel()">Abbrechen</button>
</div>
