<h1 class="page-header">Gruppenstatus</h1>
<div class="table-responsive">
  <div class="text-right">
    <button mat-raised-button color="warn" (click)="deleteActiveSessions()">Alle Aktiven Schnitzeljagd-Sessions Löschen</button>
  </div>
  <table class="table table-striped">
    <thead class="bg-primary">
    <tr>
      <th>Gruppenname</th>
      <th>Ort</th>
      <th>Fortschritt</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of activePlaySessions">
      <ng-container *ngIf="currentMaximized != entry.session_id">
        <td (click)="maximize(entry.session_id)">{{entry.sessionGroupName}}</td>
        <td (click)="maximize(entry.session_id)">{{entry.sessionLocation}}</td>
        <td (click)="maximize(entry.session_id)">
          <section class="progress-header">
            <mat-progress-bar id="bar" [value]="((convertInt(entry.sessionLocationCount) - entry.sessionLocationsToVisit.length) / convertInt(entry.sessionLocationCount))*100"></mat-progress-bar>
          </section>
        </td>
      </ng-container>
      <ng-container *ngIf="currentMaximized == entry.session_id">
        <app-admin-status-detail [session]="entry" (detailDelete)="deleteSession($event)"
                                 (detailMinimize)="detailMinimize()"></app-admin-status-detail>
        <td></td>
        <td></td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
