<h1 class="page-header">Gruppenstatus</h1>

<div class="table-responsive">
  <div class="text-right">
    <button mat-raised-button color="warn" (click)="deleteActiveSessions()">Alle Aktiven Schnitzeljagd-Sessions
      Löschen
    </button>
  </div>
</div>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Gruppenname</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sessionGroupName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef> Ort</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sessionLocation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef> Zeit</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{parseTime(element)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="progress">
      <mat-header-cell *matHeaderCellDef> Fortschritt</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-progress-bar
          [value]="((convertInt(element.sessionLocationCount) - element.sessionLocationsToVisit.length) / convertInt(element.sessionLocationCount))*100"></mat-progress-bar>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20, 50]">
  </mat-paginator>
</div>
