
<div ng-controller="RiddleCtrl">
    <div ng-if="game.state.task == 'findLocation'">
        Gehe zu dem Raum {{game.state.location.name}} <span ng-if="game.state.location.room">({{game.state.location.room}})</span>
    </div>

    <div ng-if="game.state.task == 'solveRiddle'">
        <h4>{{game.state.riddle.name}}</h4>
        {{game.state.riddle.description}}
        <br><br>
        <div class="form-group">
            <label for="answer">Deine Antwort</label>
            <input type="text" class="form-control" id="answer" placeholder="Antwort" ng-model="riddle.answer">
        </div>
        <div class="text-center">
            <a class="btn btn-default" ng-click="solve()">Überprüfen</a>
        </div>
    </div>
</div>