
<div ng-controller="RiddleCtrl">
    <div ng-if="game.state.task == 'findLocation'">
        <div class="text-center">
            <h3>Finde folgenden Ort: <b>{{game.state.location.name}}</b></h3>
        </div>
        <br><br>
        <div class="text-center">
            <a class="btn btn-primary" ng-click="togglePlan()" >Lageplan anzeigen</a>
            <a class="btn btn-primary" ng-click="toggleLocation()" >Orts Bild anzeigen</a>
        </div>
        <br><br>
        <span ng-if="showLocation">
            <img class="img-responsive center-block" src="media/computerraum.jpg">
           <!--
           <img> für game.state.location einbinden
           -->
        </span>
        <span ng-if="showPlan">
            <img class="img-responsive center-block" src="media/lageplan.png">
        </span>
    </div>
    <div ng-if="game.state.task == 'solveRiddle'">
        <h4>{{game.state.riddle.name}}</h4>
        {{game.state.riddle.description}}
        <br><br>
        <div class="alert alert-info" ng-if="showhint">
            <b>Hinweis:</b> {{game.state.riddle.hint}}
        </div>
        <div class="form-group">
            <label for="answer">Deine Antwort</label>
            <input type="text" class="form-control" id="answer" placeholder="Antwort" ng-model="riddle.answer">
        </div>
        <div class="text-center">
            <a class="btn btn-primary" ng-click="solve()">Überprüfen</a>
            <span ng-if="game.state.riddle.hint && game.state.riddle.hint.length > 0 && !showhint">
                <a class="btn btn-primary" ng-click="hint()"><span class="glyphicon glyphicon-question-sign"></span> Hinweis</a>
            </span>
        </div>
    </div>
</div>