<div ng-if="!game.running">
    <div class="page-header">
        <h1 class="text-center">Willkommen bei der Schnitzeljagd</h1>
    </div>
    <div class="text-center">
        <a class="btn btn-default" ng-click="startGame()">Schnitzeljagd beginnen</a>
    </div>
</div>


<div ng-if="game.running">
    <div ng-if="game.state.task == 'won'">
        <div class="page-header">
            <h1 class="text-center">Du hast Gewonnen</h1>
        </div>
        <div class="text-center">
            <img src="media/winner.gif">
        </div>
    </div>
    <div ng-if="game.state.task != 'won'">
        <div class="page-header">
            <h1 class="text-center">Aktuelle Aufgabe<br><small>{{caption[game.state.task]}}</small></h1>
        </div>
        <ng-include src="'templates/riddle.html'"></ng-include>
        <br><br>
    </div>
    <div class="text-center">
        <a class="btn btn-default" ng-click="endGame()">Schnitzeljagd Beeenden</a>
    </div>
</div>