<div ng-if="!game.running">
    <div class="page-header">
        <h1 class="text-center">Willkommen bei der Schnitzeljagd</h1>
    </div>
    <div class="text-center">
        <form role="form" ng-submit="startGame()">
            <div class="form-group">
                <label class="control-label">Gruppenname</label>
                <input type="text" class="form-control" ng-model="data.groupName" required autofocus>
            </div>
            {{groupName}}
            <input id="Submit" class="btn btn-primary" type="submit" value="Schnitzeljagd beginnen">
        </form>
    </div>
</div>


<div ng-if="game.running">
    <div ng-if="game.state.task == 'won'">
        <div class="page-header">
            <h1 class="text-center">Du hast Gewonnen</h1>
        </div>
        <div class="text-center">{{game.state.winText}}</div>
        <img class="img-responsive center-block" src="media/winner.gif">
    </div>
    <div ng-if="game.state.task != 'won'">
        <div class="page-header">
            <h1 class="text-center">Aktuelle Aufgabe<br>
                <small>{{caption[game.state.task]}}</small>
            </h1>
        </div>
        <ng-include src="'templates/riddle.html'"></ng-include>
        <br><br>
    </div>
    <div class="text-center">
        <br>
        <a class="btn btn-primary" ng-click="endGame()">Schnitzeljagd Beeenden</a>
    </div>
</div>