<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<div id="container">
  <h1>QRCode Scanner Prototype</h1>
  <video id="v" autoplay playsinline></video>
  <canvas id="qr-canvas"></canvas>

  <div>
    <button id="start-button" (click)="startStream()">
      START
    </button>
    <button id="stop-button" (click)="stopStream()">
      STOP
    </button>
  </div>
</div>

<div id="mdc-align-start-js-snackbar" aria-live="assertive"
     aria-atomic="true" aria-hidden="true">
  <div class="mdc-snackbar__text"></div>
  <div class="mdc-snackbar__action-wrapper">
    <button type="button"></button>
  </div>
</div>
