<div *ngIf="gameRunning == true">
  <app-user-progress [progressCount]="progressCount" [progressDone]="progressDone" (progressOutput)="clearLocalSession()">Progress Bar Loading..</app-user-progress>
  <div *ngIf="isGameFinished() == false">
    <app-user-task *ngIf="(currentQuestion!= undefined) && (currentLocation != undefined)" [question]="currentQuestion" [location]="currentLocation" [sessionID]="sessionID" [currentTask]="currentTask" (taskOutput)="getStateFromServer()">Quiz Loading..</app-user-task>
    <app-user-footer>Footer Loading..</app-user-footer>
  </div>
  <div *ngIf="isGameFinished() == true">
    <app-user-scoreboard>Scoreboard Loading..</app-user-scoreboard>
  </div>
</div>
<div *ngIf="gameRunning == false">
  <app-user-login (loginOutput)="loggedIn($event)">Loading login..</app-user-login>
</div>
