<div *ngIf="gameRunning == true">
  <app-user-progress [progressCount]="progressCount" [progressDone]="progressDone" [startDate]="startDate" [endDate]="endDate">Progress Bar Loading..</app-user-progress>
  <app-user-score #score [points]="points">Score loading..</app-user-score>
  <div *ngIf="currentTask != 'won'">
    <app-user-task *ngIf="(currentQuestion!= undefined) && (currentLocation != undefined)"[question]="currentQuestion" [location]="currentLocation" [sessionID]="sessionID" [currentTask]="currentTask" (taskOutput)="getStateFromServer()" (taskLogout)="clearLocalSession()" (taskPointEmitter)="increasePoints($event)">Quiz Loading..</app-user-task>
  </div>
  <div *ngIf="currentTask == 'won'">
    <app-user-scoreboard>Scoreboard Loading..</app-user-scoreboard>
  </div>
</div>
<div *ngIf="gameRunning == false">
  <app-user-login (loginOutput)="loggedIn($event)">Loading login..</app-user-login>
</div>
