<div *ngIf="isUnsolvedQuiz() == true">
  <ng-container *ngIf="isQuestionSingleanswer()">
    <app-user-quiz-singleanswer [location]="location" [question]="question" [sessionID]="sessionID" (quizOutput)="solvedQuiz()" (quizLogout)="loggedOut()" (quizPointEmitter)="passThroughPoints($event)"></app-user-quiz-singleanswer>
  </ng-container>
  <ng-container *ngIf="isQuestionMultiplechoice()">
    <app-user-quiz-multiplechoice [location]="location" [question]="question" [sessionID]="sessionID" (quizOutput)="solvedQuiz()" (quizLogout)="loggedOut()" (quizPointEmitter)="passThroughPoints($event)"></app-user-quiz-multiplechoice>
  </ng-container>
</div>
<div *ngIf="isUnsolvedQuiz() == false">
    <app-user-location [location]="location" (locationLogout)="loggedOut()"></app-user-location>
</div>
