<div *ngIf="isUnsolvedQuiz() == true">
  <app-user-quiz [question]="question" [sessionID]="sessionID" (quizOutput)="solvedQuiz()"></app-user-quiz>
</div>
<div *ngIf="isUnsolvedQuiz() == false">
  <div *ngIf="mapOpen == true" (click)="toggleMap()">
    <app-user-map [location]="location">Loading map...</app-user-map>
  </div>
  <div *ngIf="mapOpen == false">
    <app-user-location [location]="location"></app-user-location>
    <button type="button" (click)="toggleMap()"></button>
  </div>
</div>
