<h1 mat-dialog-title>{{pageHeader}}</h1>
<div mat-dialog-content>
  <mat-slide-toggle #slider (change)="changeType(slider.checked)">Multiple Choice</mat-slide-toggle>
  <div class="form-group">
    <label class="control-label">
      Rätselname
    </label>
    <input [(ngModel)]="data.currentQuiz.name" name="name" class="form-control" required autofocus>
  </div>

  <div class="form-group">
    <label class="control-label">
      Beschreibung
    </label>
    <textarea [(ngModel)]="data.currentQuiz.description" name="description" class="form-control" rows="10" required></textarea>
  </div>
  <div class="form-group">
    <div>
      <mat-checkbox [(ngModel)]="data.currentQuiz.isActive">Aktiv?</mat-checkbox>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">
      Antwort
    </label>
    <input [(ngModel)]="data.currentQuiz.answer" name="answer" class="form-control" required>
  </div>

  <ng-container *ngIf="type=='multipleChoice'">
    <div class="form-group">
      Antwortmöglichkeiten:
      <div *ngFor="let entry of data.currentQuiz.choices; let i=index">
        <input [(ngModel)]="data.currentQuiz.choices[i]" class="form-control">
        <button mat-raised-button color="primary" (click)="removeChoice(entry)">-</button>
      </div>
      <button mat-raised-button color="primary" (click)="addChoice()">+</button>
    </div>
  </ng-container>



  <div class="form-group">
    <label class="control-label">
      Hinweis
    </label>
    <input [(ngModel)]="data.currentQuiz.hint" name="hint" class="form-control">
  </div>
  <div class="form-group">
    <label class="control-label">Verknüpfter Ort</label>
    <div>
      <p>Falls ausgewählt, wird dieses Rätsel an dem ausgewähltem Ort abgefragt</p>
    </div>
    <select class="form-control" [(ngModel)]="data.currentQuiz.location" name="locationSelect">
      <option *ngFor="let entry of locations" [value]="entry._id" >{{entry._id}}</option>
    </select>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" tabindex="2" (click)="submit()">Speichern</button>
  <button mat-raised-button tabindex="-1" (click)="cancel()">Abbrechen</button>
</div>
