<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true">
      <mat-toolbar color="primary">
        <!--<span>Admin Menü:</span>-->
        <mat-toolbar-row *ngFor="let entry of menueItems" (click)="sidenav.close(); currentSelection=entry;">
          <span>{{entry}}</span>
        </mat-toolbar-row>
        <mat-toolbar-row (click)="logout()">
          <span>Logout</span>
        </mat-toolbar-row>
      </mat-toolbar>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <i class="material-icons">exit_to_app</i>
  </button>
  <div (click)="sidenav.close()">
    <app-admin-status *ngIf="currentSelection=='Status'" [adminToken]="adminToken"></app-admin-status>
    <app-admin-configuration *ngIf="currentSelection=='Konfiguration'" [adminToken]="adminToken"></app-admin-configuration>
    <app-admin-locations *ngIf="currentSelection=='Orte'" [adminToken]="adminToken"></app-admin-locations>
    <app-admin-quizzes *ngIf="currentSelection=='Rätsel'" [adminToken]="adminToken"></app-admin-quizzes>
    <app-admin-tags *ngIf="currentSelection=='Tags'" [adminToken]="adminToken"></app-admin-tags>
  </div>
</mat-sidenav-container>

