<div class="jumbotron">
  <mat-card>

    <mat-card-title class="centered"><h5>Finde folgenden Ort:</h5></mat-card-title>
    <div id="image">
    <span>
    <img mat-card-image class="img-responsive"
         src="data:{{location?.getImage().filetype}};base64,{{location?.getImage().base64}}">
  </span>
    </div>
    <mat-card-content class="centered"><h3>{{location?.getName()}}</h3></mat-card-content>
  </mat-card>

  <div id="bottom">
    <mat-toolbar>
      <i class="material-icons" (click)="abbrechen()">exit_to_app</i>
      <span class="spacer"></span>
      <i class="material-icons" (click)="openMap()">location_on</i>
      <span class="spacer"></span>
      <i class="material-icons" (click)="openCamera()">photo_camera</i>
    </mat-toolbar>
  </div>
</div>

