<div>
    <div class="text-center">
      <h4>Finde folgenden Ort: <b>{{location?.getName()}}</b></h4>
    </div>
    <br>
  <div id="image">
    <span>
    <img class="img-responsive" src="data:{{location?.getImage().filetype}};base64,{{location?.getImage().base64}}">
  </span>
  </div>
</div>

<div id="bottom">
  <mat-toolbar>
    <div class="container">
      <i class="material-icons" (click)="abbrechen()">exit_to_app</i>
      <i class="material-icons" (click)="openMap()">location_on</i>
      <i class="material-icons" (click)="openCamera()">photo_camera</i>
    </div>
  </mat-toolbar>
</div>

